<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=profile.displayname%> - BobertAcademy</title>
    <link rel="stylesheet" href="/css/cssremedy/css/remedy.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="header-wraper">
        <header class="header">
            <div class="bobert-logo">
                <a href="/">
                    <img src="/assets/bobert.ico" alt="BobertAcademy favicon" class="header-icon">
                    <div class="large-screen">
                        <span class="orange">Bobert</span>
                        <span class="green">Academy</span>
                    </div>
                </a>
            </div>
            <nav class="main-nav">
                <a href="#" class="header-link">
                    <span class="large-screen">Tutorials</span>
                    <img src="/assets/tutorials.png" alt="tutorials icon" class="small-screen header-icon">
                </a>
                <a href="#" class="header-link">
                    <span class="large-screen">Refrences</span>
                    <img src="/assets/references.png" alt="refrences icon" class="small-screen header-icon">
                </a>
                <a href="#" class="header-link">
                    <span class="large-screen">Browse</span>
                    <img src="/assets/browse-programs.png" alt="browse icon" class="small-screen header-icon">
                </a>
                <a href="#" class="header-link">
                    <span class="large-screen">Ide</span>
                    <img src="/assets/bobert-ide.png" alt="bobert ide icon" class="small-screen header-icon">
                </a>
                <a href="#" class="header-link">
                    <span class="large-screen">Search</span>
                    <img src="/assets/search.png" alt="search icon" class="small-screen header-icon">
                </a>
            </nav>
            <div class="notif-menu">
                <!-- <span class="large-screen">Notifications</span> -->
                <img src="/assets/notifications.png" alt="notifications icon" class="header-icon">
            </div>                                                                                                                                                                                                                   
            <div class="user-menu">
                <a href="#">
                    <div class="large-screen"><%=account.displayname%></div>
                    <img src="/assets/bobert.png" alt="user menu image" class="header-icon">
                </a>
            </div>
        </header>
    </div>
    <main class="main">
        <section class="banner" aria-label="profile banner" style="background-image: url('<%=profile.background%>');">
            <div class="profile-avatar-container">
                <img src="<%=profile.avatar%>" alt="user avatar" class="profile-avatar">
            </div>
            <div class="profile-displayname"><%=profile.displayname%></div>
            <div class="profile-username-uid">@<%=profile.username%> / @<%=profile.uid%></div>
        </section>
        <section class="profile-stats section" aria-labelledby="profile-stats-h1">
            <div class="profile-stats-content section-content">
                <h1 id="profile-stats-h1">Statistics</h1>
                <table class="card">
                    <tbody>
                        <tr>
                            <td>Date joined:</td>
                            <td>6/9/2022</td>
                        </tr>
                        <tr>
                            <td>Programs:</td>
                            <td>34</td>
                        </tr>
                        <tr>
                            <td>Up votes recieved:</td>
                            <td>342</td>
                        </tr>
                        <tr>
                            <td>Down votes recieved:</td>
                            <td>234</td>
                        </tr>
                        <tr>
                            <td>Up votes given:</td>
                            <td>234</td>
                        </tr>
                        <tr>
                            <td>Down votes given:</td>
                            <td>234</td>
                        </tr>
                        <tr>
                            <td>Forks recieved:</td>
                            <td>234</td>
                        </tr>
                        <tr>
                            <td>Forks created:</td>
                            <td>432</td>
                        </tr>
                        <tr>
                            <td>Comments:</td>
                            <td>234</td>
                        </tr>
                        <tr>
                            <td>Thread comments:</td>
                            <td>234</td>
                        </tr>
                        <tr>
                            <td>Help requests:</td>
                            <td>234</td>
                        </tr>
                        <tr>
                            <td>Help request replies:</td>
                            <td>234</td>
                        </tr>
                        <tr>
                            <td>Flags raised:</td>
                            <td>342</td>
                        </tr>
                        <tr>
                            <td>Flagged:</td>
                            <td>432</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="profile-programs section" aria-labelledby="profile-programs-h1">
            <div class="profile-programs-content section-content">
                <h1 id="profile-programs-h1">Programs</h1>
                <div class="programs-grid">
                    <div class="card program">
                        <a href="">
                            <img src="//unsplash.it/256/256" alt="program thumbnail">
                            The title of the program
                        </a>
                        <br>
                        <!-- created by:
                        <a href="" class="program-author">
                            Bobert
                        </a> -->
                        <table>
                            <tr>
                                <td>Votes:</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>Created:</td>
                                <td>6/15/2022</td>
                            </tr>
                            <tr>
                                <td>Updated:</td>
                                <td>6/15/2022</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card program">
                        <a href="">
                            <img src="//unsplash.it/256/256" alt="program thumbnail">
                            The title of the program
                        </a>
                        <br>
                        <!-- created by:
                        <a href="" class="program-author">
                            Bobert
                        </a> -->
                        <table>
                            <tr>
                                <td>Votes:</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>Created:</td>
                                <td>6/15/2022</td>
                            </tr>
                            <tr>
                                <td>Updated:</td>
                                <td>6/15/2022</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card program">
                        <a href="">
                            <img src="//unsplash.it/256/256" alt="program thumbnail">
                            The title of the program
                        </a>
                        <br>
                        <!-- created by:
                        <a href="" class="program-author">
                            Bobert
                        </a> -->
                        <table>
                            <tr>
                                <td>Votes:</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>Created:</td>
                                <td>6/15/2022</td>
                            </tr>
                            <tr>
                                <td>Updated:</td>
                                <td>6/15/2022</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card program">
                        <a href="">
                            <img src="//unsplash.it/256/256" alt="program thumbnail">
                            The title of the program
                        </a>
                        <br>
                        <!-- created by:
                        <a href="" class="program-author">
                            Bobert
                        </a> -->
                        <table>
                            <tr>
                                <td>Votes:</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>Created:</td>
                                <td>6/15/2022</td>
                            </tr>
                            <tr>
                                <td>Updated:</td>
                                <td>6/15/2022</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card program">
                        <a href="">
                            <img src="//unsplash.it/256/256" alt="program thumbnail">
                            The title of the program
                        </a>
                        <br>
                        <!-- created by:
                        <a href="" class="program-author">
                            Bobert
                        </a> -->
                        <table>
                            <tr>
                                <td>Votes:</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>Created:</td>
                                <td>6/15/2022</td>
                            </tr>
                            <tr>
                                <td>Updated:</td>
                                <td>6/15/2022</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="profile-chat section" aria-labelledby="profile-chat-h1">
            <div class="profile-chat-content section-content">
                <h1 id="profile-chat-h1">Direct message</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui possimus ab praesentium, doloribus blanditiis reprehenderit quae eligendi quisquam corporis nam perspiciatis cum odio quasi architecto earum vitae natus odit ducimus.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui possimus ab praesentium, doloribus blanditiis reprehenderit quae eligendi quisquam corporis nam perspiciatis cum odio quasi architecto earum vitae natus odit ducimus.</p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-top">
            <div>
                <h1>Tutorials</h1>
                <ul>
                    <li>
                        <a href="">
                            <img src="/assets/html.png" alt="html icon">
                            HTML
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/css.png" alt="css icon">
                            CSS
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/js.png" alt="javascript icon">
                            Javascript
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/sass.png" alt="sass icon">
                            Sass
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/p5js.png" alt="p5js icon">
                            p5.js
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h1>Reference</h1>
                <ul>
                    <li>
                        <a href="">
                            <img src="/assets/html.png" alt="html">
                            HTML
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/css.png" alt="css icon">
                            CSS
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/js.png" alt="javascript icon">
                            Javascript
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/sass.png" alt="sass icon">
                            Sass
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/assets/p5js.png" alt="p5js icon">
                            p5.js
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h1>Something</h1>
                <ul>
                    <li>
                        <a href="">item 1</a>
                    </li>
                    <li>
                        <a href="">item 2</a>
                    </li>
                    <li>
                        <a href="">item 3</a>
                    </li>
                    <li>
                        <a href="">item 4</a>
                    </li>
                    <li>
                        <a href="">item 5</a>
                    </li>
                </ul>
            </div>
            <div>
                <h1>Might be helpful</h1>
                <ul>
                    <li>
                        <a href="https://developer.mozilla.org">
                            <img src="https://developer.mozilla.org/favicon.ico" alt="mdn favicon">
                            MDN web docs
                        </a>
                    </li>
                    <li>
                        <a href="https://w3schools.com">
                            <img src="https://w3schools.com/favicon.ico" alt="w3schools favicon">
                            W3schools
                        </a>
                    </li>
                    <li>
                        <a href="https://css-tricks.com/">
                            <img src="https://css-tricks.com/favicon.ico" alt="css tricks favicon">
                            CSS Tricks
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/kepowob">
                            <img src="https://youtube.com/favicon.ico" alt="youtube favicon">
                            Kevin Powell on YouTube
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            (c) The bobert cult - 2022
        </div>
    </footer>
</body>
</html>